/* IMPORT BOOTSTRAP */
@import "bootstrap/bootstrap.less";

/* VARIABLES */
@header-color: #5486cd;
@search-color: #619ae6;
@header-size: 50px;
@header-border-color: #dadada;
@header-line-height: 62px;
@sidebar-width: 16.6666666%;
@navbar-height: 50px;
@navbar-collapse-height: 50px;

/* IMPORT ALL STYLES */
@import "header.less";
@import "media.less";
@import "wrapper.less";
@import "custom.less";
@import "right_icons.less";
@import "menu.less";
@import "popup_windows.less";
@import "elements.less";
@import "heights.less";



